.answer-btn {
    color: green;
    border-color: green;
    background-color: white;
  }
  
  .answer-btn:hover {
    background-color: green;
    color: white;
}

.answer-clicked {
    background-color: green;
    color: white;
}